* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #296C75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;

    margin-top: 20%;
}

.container img {
    width: 230px;
    height: 230px;
}

.container h2 {
    font-size: 2.2rem;
}

.container p {
    font-size: 1.4rem;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .container h2 {
        font-size: 2.3rem;
    }

    .container p {
        text-align: center;
        padding: .7rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container h2 {
        font-size: 2rem;
    }

    .container p {
        text-align: center;
        padding: .7rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 426px) {
    .container h2 {
        font-size: 1.1rem;
    }

    .container p {
        font-size: 1rem;
        text-align: center;
        padding: .7rem;
        font-size: 1rem;
    }
}