@use './variables.scss' as *;
@use '../utils/reset';

body {
    background-color: $main-bg-color;
}

main {
    color: $default-page-color;

    #page-slogan {
        border: 1px solid #CCC;
        border-radius: 1.5rem;

        width: 70%;
        height: 8rem;

        margin: 4rem auto;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}

// Reponsivite
@media (max-width: 1024px) {

}

@media (max-width: 426px) {

}