@use './variables.scss' as *;
@use '../utils/reset';

body {
    background-color: $main-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    color: $default-page-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Reponsivite
@media (max-width: 1024px) {

}

@media (max-width: 426px) {

}